.well
  %h2= current_page_title
  %p
    The
    %code upper_pagination_panel
    parameter for the
    %code grid
    helper forces the pagination panel to appear at at top of the grid

= show_code

.row-fluid
  .col-md-12
    = render   'grid'