*.gem
*.rbc
.bundle
.config
.idea
.yardoc
.rbenv-version
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.byebug_history
spec/support/test_app/log
spec/support/test_app/tmp
