.well
  %h2= current_page_title
  %p
    Once a grid column is associated with the inderlying database field with the help of the
    %code attrubute
    parameter the column becomes sortable and a column filter is rendered. The column filter
    is generated based on the type of the database field.

= show_code

.row-fluid
  .col-md-12
    = render   'grid'