.well
  %h2= current_page_title
  %p
    Use
    %code allow_multiple_selection:  false
    to turn off mutiple selection in custom filters.

= show_code

.row-fluid
  .col-md-12
    = render   'grid'