.well
  %h2= current_page_title
  %p
    Use
    %code :include
    in
    %code :initialize_grid
    to include associated tables.
    %code :include
    can be a single association name, an array of association names.
    If you need to join tables to joined tabes, use hashes, for example:
    %code include: [:priority, :status, {project: :customer}]

  %p
    To define a column from a joined table, use
    %code :assoc
    to specify a the corresponding association.
    If you need to join a table to a joined table,
    list associations in an array on the correct order
    (look at the customer column).
  %p
    You can drop a block if you don't need any special markup.

= show_code

= render   'grid'
