/*  This is just an example, so feel free to re-style it completely */ 

.wice_grid {
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0px
}

.wice_grid th { 
  background-color: #dfdfdf; 
  font-weight: bold; 
  text-shadow: rgb(204, 204, 204) 0px 1px 0px; 
  height: 2em;
  padding: 0 1em;
  
}
.wice_grid th a { 
  color: #000; 
}
.wice_grid th a:hover { 
  color: #333; 
}

.wice_grid tr.wice_grid_title_row th,  
.wice_grid tr.wice_grid_filter_row th{
  background-color: #dddddd;
  vertical-align: top;
}



.wice_grid th.filter_icons, .wice_grid th.hide_show_icon {
  text-align: right ;
}

.wice_grid thead {
  border-bottom: 1px solid #666;
}

.wice_grid tr.odd {
  background-color: #fff;
}

.wice_grid tr.even {
  background-color: #eeeeee;
}

.wice_grid td {
  border-bottom: 1px dotted #9999CC;
  height: 2.5em;
  padding: 0 1em;
}

.wice_grid .desc,  .wice_grid .asc{ 
  padding-right: 18px; 
  text-decoration:none;
}

.wice_grid .desc { 
  background: transparent url(/images/icons/grid/arrow_down.gif) right no-repeat
}
.wice_grid .asc  { 
  background: transparent url(/images/icons/grid/arrow_up.gif)   right no-repeat
}

.wice_grid th div.date-filter {
  text-align: left;
}

.wice_grid tr.even td.active_filter  { background-color: #ddddff; }
.wice_grid tr.odd td.active_filter  { background-color: #eeeeff; }

.wice_grid tr.even td.sorted { background-color: #ffffcc; }
.wice_grid tr.odd td.sorted { background-color: #ffffee; }


.wice_grid a.date_label {text-decoration: none;}
.wice_grid a.date_label:hover {text-decoration: line-through;}


.wice_grid_container .pagination {
  float: left;
}

.wice_grid_container .pagination_status {
  font-weight: bold;
  float: right;
}

.wice_grid_container .pagination_status .show_all_link a {
  text-decoration: none;
  font-size: 80%;
}

.wice_grid .custom_dropdown_container { position: relative; padding-right: 9px;}
.wice_grid .custom_dropdown_container .toggle_multi_select_icon { position:absolute; top:0; right:0;  }

.wice_grid .text_filter_container { position: relative; padding-right: 13px;}
.wice_grid .text_filter_container .negation_checkbox { position:absolute; top:0; right:0;  }


/*  Saved Queries  */

.wice_grid_container h3 {
  font-family: 'Lucida Grande';
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 2px;
}

.wice_grid_query_panel {
  width: 400px;
  border:1px solid #ddd;
  margin-top : 10px;
  margin-bottom : 10px;
  padding : 5px;
}


.wice_grid_query_panel .query_list{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left : 0px;  
}

.wice_grid_query_panel .query_list li a.query_load_link {
  text-decoration: none;
}


.wice_grid_query_panel .query_list li a.current {
  font-weight: bold;
  text-decoration: underline;  
}


.wice_grid_query_panel .query_list li a.query_load_link:hover {
  text-decoration: underline;
}


.wice_grid_query_panel  .wice_grid_notice {
  padding:.4em;
  margin-bottom:1em;
  border:2px solid #ddd;
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}


.wice_grid_query_panel  .errorExplanation {
  padding:.4em;
  margin-bottom:1em;
  border:2px solid #ddd;
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left : 0px;
}

