.well
  %h2= current_page_title
  %p
    Helper
    %code wice_grid_custom_filter_params
    simplifies generation of links with HTTP parameters understood by WiceGrid custom filter parameters.

= show_code

.row-fluid
  .col-md-4
    = render   'grid'
