.wice_grid .desc { background: transparent url(/images/icons/grid/arrow_down.gif) right no-repeat ; padding-right: 18px; text-decoration:none;}
.wice_grid .asc  { background: transparent url(/images/icons/grid/arrow_up.gif)   right no-repeat ; padding-right: 18px; text-decoration:none;}

.wice_grid th.active_filter  { background-color: #ccccff; }
.wice_grid tr.even td.active_filter  { background-color: #ddddff; }
.wice_grid tr.odd td.active_filter  { background-color: #eeeeff; }

.wice_grid th.sorted { background-color: #ffffbb; }
.wice_grid tr.even td.sorted { background-color: #ffffcc; }
.wice_grid tr.odd td.sorted { background-color: #ffffee; }


.custom_dropdown_container { position: relative; }
.toggle_multi_select_icon { position:absolute; top:0; right:0;  }
.custom_dropdown { width: 88% }

.wice_grid a.date_label {text-decoration: none;}
.wice_grid a.date_label:hover {text-decoration: line-through;}

.wice_grid_container .pagination {
	float: left;
}

.wice_grid_container .pagination_status {
	font-weight: bold;
	float: right;
}

.wice_grid_container .pagination_status .show_all_link a {
  text-decoration: none;
  font-size: 80%;
}

/*  Saved Queries  */

.wice_grid_container h3 {
	font-family: 'Lucida Grande';
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 2px;
}

.wice_grid_query_panel {
	width: 400px;
	border:1px solid #ddd;
	margin-top : 10px;
	margin-bottom : 10px;
	padding : 5px;
}


.wice_grid_query_panel .query_list{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left : 0px;	
}

.wice_grid_query_panel .query_list li a.query_load_link {
	text-decoration: none;
}


.wice_grid_query_panel .query_list li a.current {
	font-weight: bold;
	text-decoration: underline;	
}


.wice_grid_query_panel .query_list li a.query_load_link:hover {
	text-decoration: underline;
}


.wice_grid_query_panel  .wice_grid_notice {
	padding:.4em;
	margin-bottom:1em;
	border:2px solid #ddd;
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}


.wice_grid_query_panel  .errorExplanation {
	padding:.4em;
	margin-bottom:1em;
	border:2px solid #ddd;
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left : 0px;
}
