:css
  table.my-grid {
    border: 1px solid red;
  }
  table.my-grid tr.my-header {
    background-color: #ebebeb;
  }


.well
  %h2= current_page_title
  %p
    It is possible to override the default ordering by custom sql code. "Status Name" in the first table is done
    by the length of the status name. Ordering "Status Name" in the second table is actually replaced by ordering
    by column.

= show_code

.row
  .col-md-6
    = render   'grid', grid: @status_grid1

  .col-md-6
    = render   'grid', grid: @status_grid2
